<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dijanow.hub.feature.orderpickup">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity
            android:name=".pickup.OrderPickupActivity"
            android:theme="@style/Theme.Hub.OrderPickup" />
    </application>
</manifest>